*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containor{
    width: 100%;
    height: 100vh;
    background-color: rgb(164, 164, 219);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: -5px -5px 15px rgb(2, 39, 42), 8px 8px 15px rgb(237, 160, 18) ; */
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    box-shadow: -5px -5px 15px blue, 8px 8px 15px wheat ;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px  ;
    
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px , 0 ;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background-color: rgb(72, 114, 67);
}

form input.equal{
    width: 145px ;
} 